@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
    overflow-x: hidden;
}
/* Header */
/* Section css  */
section{
    /* height: 100vh; */
    scroll-snap-align: center;
}

/* Footer */
footer{
    position: fixed;
    display: block;
}
/* Wrapper css  */

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
    body {
      /* The hack for Safari */
      min-height: -webkit-fill-available;
    }
}

@media screen and (max-width: 852px) {
    /* html, body{
        scroll-snap-align: start;
        scroll-snap-stop: normal;
    } */
}