@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    /* scroll-behavior: smooth;
    scroll-snap-type: y mandatory; */
    position: relative;
}
section{
    /* scroll-snap-align: center;
    scroll-snap-stop: always; */
}
.navbar-hidden{
    transition: all 250ms ease-in-out;
}
.navbar-hidden::before{
    content: "";

    position: absolute;
    top: 0;
    width: 2000px;
    height: 100%;
    left: -2000px;
    backdrop-filter: blur(4px);
    pointer-events: inherit;
}
.navbar-hidden.active{
    opacity: 1;
    right: 300px;
}

.nav-link{
    transition: all 250ms ease-in-out;
}

section:nth-of-type(5) h1{
    font-size: 1.5rem;
    font-weight: 600;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
    body {
      /* The hack for Safari */
      min-height: -webkit-fill-available;
    }
}

@media screen and (max-width: 852px) {
    /* html, body{
        scroll-snap-align: start;
        scroll-snap-stop: normal;
    } */
}

