@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Header */
/* Section css  */


/* Footer */
footer{
    position: fixed;
    display: block;
}
/* Wrapper css  */

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
    body {
      /* The hack for Safari */
      min-height: -webkit-fill-available;
    }
}

@media screen and (max-width: 1024px) {
    .navbar{
        display: none;
    }
 }